@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');




body {
  font-family: 'Open Sans', sans-serif;
}

hr{
  height: 10px;
}

.header{
  background: #EEEBFE;
}

.introduction{
  background: #FAE8DC;
}

.testimonials{
  background: #EDF8FE;
}

.work{
  background: #F3F1FF;
}

.ahead{
  color: #6442ED;
}

.timeline{
  position: relative;
  min-height: 150px;
}

.line{
  position: absolute;
  z-index: 2;
  left: calc(20% - 1px);
  width: 2px;
  top: 0px;
  bottom: 0px;
  background-color: #BDBCF7;
}

.line:before,
.line:after{
  content: '';
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #B3B8EE;
  left: 50%;
  transform: translateX(-50%);
}

.line:after{
  top: 145px;
}



 